{% extends '../layout.html' %}

{% block title %}Coalizadores{% endblock %}

{% block yield %}

<div class="page-header">
  <h1>Gerenciar <small>coalizadores</small></h1>
</div>

<div class="form-container center-block">
    <div class="content clearfix span10">
        <form action="/admin/manage/{{ current_section }}" method="post" id="edit_section_{{ current_section }}_form" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put" />
            {% for coalizador in [1,2,3,4,5,6,7,8,9] %}
                <fieldset class="field">
                    <div class="span8">
                        {% if section.getKeyValue('coalizador_image_' + coalizador) %}
                            <figure class="image-thumb">
                                <a href="/uploads/original/{{ section.getKeyValue('coalizador_image_' + coalizador) }}" target="_blank">
                                    <img src="/uploads/thumb/{{ section.getKeyValue('coalizador_image_' + coalizador) }}" alt="Imagem atual">
                                    <figcaption>Imagem atual</figcaption>
                                </a>
                            </figure>
                        {% endif %}
                    </div>
                    <div class="span4">
                        <label for="coalizador_link_{{ coalizador }}">Link do divulgador #{{ coalizador }}
                        </label>
                        <input type="text" id="coalizador_link_{{ coalizador }}" name="section[coalizador_link_{{ coalizador }}]" class="span6"
                        value="{{ section.getKeyValue('coalizador_link_' + coalizador) }}" />

                        <label for="coalizador_{{ coalizador }}">Imagem do divulgador #{{ coalizador }}</label>
                        <input type="file" id="coalizador_{{ coalizador }}" name="section[coalizador_image_{{ coalizador }}]" class="span6" accept="image/jpg, image/png, image/jpeg"/>
                    </div>
                </fieldset>  
            {% endfor %}
            <div class="actions">                                    
                <input type="hidden" name="_csrf" value='{{ csrf_token }}'>
                <button class="button btn btn-success btn-large">Salvar</button>
                <a href="/admin/" class="button btn btn-danger btn-large">Voltar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}