{% extends '../layout.html' %}

{% block title %}Coalizadores{% endblock %}

{% block yield %}

<div class="page-header">
  <h1>Gerenciar <small>coalizadores</small></h1>
</div>

<div class="form-container center-block">
    <div class="content clearfix span10">
        <form action="/admin/manage/{{ current_section }}" method="post" id="edit_section_{{ current_section }}_form" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="_csrf" value='{{ csrf_token }}'>
            <div id="fields-wrapper">
               {% for coalizador in range %}
                   <fieldset class="field">
                       {% if section.getKeyValue('coalizador_image_' + coalizador) %}
                           <div class="span8">
                               <figure class="image-thumb">
                                   <a href="/uploads/original/{{ section.getKeyValue('coalizador_image_' + coalizador) }}" target="_blank">
                                       <img src="/uploads/thumb/{{ section.getKeyValue('coalizador_image_' + coalizador) }}">
                                   </a>
                               </figure>
                           </div>
                       {% endif %}
                       <div class="span4">
                           <label for="coalizador_link_{{ coalizador }}">Link do divulgador #{{ loop.index }}</label>
                           <input type="text" id="coalizador_link_{{ coalizador }}" name="section[coalizador_link_{{ coalizador }}]" class="span6" value="{{ section.getKeyValue('coalizador_link_' + coalizador) }}" />

                           <label for="coalizador_{{ coalizador }}">Imagem do divulgador #{{ loop.index }} - <small>(Dimensões 90x90px)</small></label>
                           <input type="file" id="coalizador_{{ coalizador }}" name="section[coalizador_image_{{ coalizador }}]" class="span6" accept="image/jpg, image/png, image/jpeg"/>
                       </div>
                       {% if section.getKeyValue('coalizador_image_' + coalizador) %}
                           <div class="span8">
                               <a href="/admin/manage/{{ current_section}}/coalizador_image_{{ coalizador }}/?_keys=coalizador_link_{{ coalizador }}"  data-parent="fieldset" data-method="delete" class="btn btn-danger">
                                   <i class="icon-large icon-remove"></i> Deletar</a>
                           </div>
                       {% endif %}
                   </fieldset>  
               {% endfor %} 
            </div>
            <div class="actions">
                <a href="#" class="button btn btn-info btn-large" id="add_new_resource" data-template="#new_resource_template" data-target="#fields-wrapper" data-limit="9">
                    <i class="icon-large icon-plus"></i>Adicionar
                </a>
                <button class="button btn btn-success btn-large">Salvar</button>
                <a href="/admin/" class="button btn btn-default btn-large">Voltar</a>
            </div>
        </form>
        <script type="text/template" id="new_resource_template">
            <fieldset class="field" >
                <div class="span4">
                    <label for="coalizador_link_#{index}">Link do divulgador #{index}</label>
                    <input type="text" id="coalizador_link_#{index}" name="section[coalizador_link_#{index}]" class="span6" />

                    <label for="coalizador_#{index}">Imagem do divulgador #{index} - <small>(Dimensões 90x90px)</small></label>
                    <input type="file" id="coalizador_#{index}" name="section[coalizador_image_#{index}]" class="span6" accept="image/jpg, image/png, image/jpeg"/>
                </div>
            </fieldset>
        </script> 
    </div>
</div>

{% endblock %}