{% extends '../layout.html' %}

{% block title %}Patrocinadores{% endblock %}

{% block yield %}

<div class="page-header">
  <h1>Gerenciar <small> patrocinadores</small></h1>
</div>

<div class="form-container center-block">
    <div class="content clearfix row">
        <form action="/admin/manage/{{ current_section }}" method="post" id="edit_section_{{ current_section }}_form" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="_csrf" value='{{ csrf_token }}'>
            <div id="fields-wrapper">
                {% for sponsor in range %}
                    <fieldset class="field span10">
                        <div class="span6">
                            {% if section.getKeyValue('sponsor_image_' + sponsor) %}
                                <figure class="image-thumb">
                                    <a href="/uploads/original/{{ section.getKeyValue('sponsor_image_' + sponsor) }}" target="_blank">
                                        <img src="/uploads/thumb/{{ section.getKeyValue('sponsor_image_' + sponsor) }}">
                                    </a>
                                </figure>
                            {% endif %}
                        </div>
                        <div class="span6">
                            <label for="sponsor_link_{{ sponsor }}">Link do patrocinador #{{ loop.index }}
                            </label>
                            <input type="text" id="sponsor_link_{{ sponsor }}" name="section[sponsor_link_{{ sponsor }}]" class="span6"  
                            value="{{ section.getKeyValue('sponsor_link_' + sponsor) }}" />

                            <label for="sponsor_{{ sponsor }}">Imagem do patrocinador #{{ loop.index }} - - <small>(Dimensões 120x120px)</small></label>
                            <input type="file" id="sponsor_{{ sponsor }}" name="section[sponsor_image_{{ sponsor }}]" class="span6" accept="image/jpg, image/png, image/jpeg"/>
                        </div>
                        {% if section.getKeyValue('sponsor_image_' + sponsor) %}
                            <div class="span8">
                                <a href="/admin/manage/{{ current_section}}/sponsor_image_{{ sponsor}}/?_keys=sponsor_link_{{ sponsor }}"  data-parent="fieldset" data-method="delete" class="btn btn-danger">
                                    <i class="icon-large icon-remove"></i> Deletar</a>
                            </div>
                        {% endif %}
                    </fieldset>  
                {% endfor %}
            </div>
            <div class="actions span10">                                    
                <a href="#" class="button btn btn-info btn-large" id="add_new_resource" data-template="#new_resource_template" data-target="#fields-wrapper" data-limit='5'>
                    <i class="icon-large icon-plus"></i>Adicionar
                </a>
                <button class="button btn btn-success btn-large">Salvar</button>
                <a href="/admin/" class="button btn btn-default btn-large">Voltar</a>
            </div>
        </form>
        <script type="text/template" id="new_resource_template">
            <fieldset class="field span10">
                <div class="span6">
                    <label for="sponsor_link_#{index}">Link do patrocinador #{index}
                    </label>
                    <input type="text" id="sponsor_link_#{index}" name="section[sponsor_link_#{index}]" class="span6"/>

                    <label for="sponsor_#{index}">Imagem do patrocinador #{index} - - <small>(Dimensões 120x120px)</small></label>
                    <input type="file" id="sponsor_#{index}" name="section[sponsor_image_#{index}]" class="span6" accept="image/jpg, image/png, image/jpeg"/>
                </div>
            </fieldset>
        </script> 
    </div>
</div>

{% endblock %}