{% extends '../layout.html' %}

{% block title %}Mensagens{% endblock %}

{% block yield %}

<div class="row">
  <div class="page-header">
    <h1>Mensagens <small>Todas as mensagens enviada pelo site - Página {{ current_page }} de {{ total_pages }} </small></h1>
  </div>  
</div>


<div class="row">
  <div class="filter span12">
    <form id="filter_form" action="/admin/contacts">
      <div class="span3">
        <h4>Assunto</h4>
        <select name="subject_id" id="contact_subject">
          <option {% if !current_subject %} selected='selected' {% endif %} value="">---</option>
          
          {% for subject in Object.keys(subjects) %}
            <option value="{{ subject }}" {% if subject == current_subject %} selected='selected' {% endif %} > {{ subjects[subject] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="span3">
        <h4>Tipo(Area)</h4>
        <select name="area_id" id="contact_area">
          <option value="" {% if !current_area %} selected='selected' {% endif %} >---</option>
          
          {% for area in Object.keys(areas) %}
            <option value="{{ area }}" {% if area == current_area %} selected='selected' {% endif %} > {{ areas[area] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="span3">
        <h4>Tipo de questão</h4>
        <select name="question_type" id="contact_question_type">
          <option value="" {% if !current_question_type %} selected='selected' {% endif %} >---</option>
          
          {% for question_type in Object.keys(questions_types) %}
            <option value="{{ question_type }}" {% if question_type == current_question_type %} selected='selected' {% endif %} > {{ questions_types[question_type] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="span2">
        <h4>&nbsp;</h4>
        <input type="submit" name="" value="Filtrar" class="btn btn-primary">
      </div>
      <div class="span2">
        <h4>&nbsp;</h4>
        <div class="export pull-right">
          <a class="btn btn-success" href="{{ host }}/admin/contacts/export.xls??subject_id={{ current_subject }}&area_id={{ current_area }}&question_type={{ current_question_type }}"><i class="icon-large icon-download-alt
          "></i> Exportar XLS</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="clearfix"><br /><br /></div>


<div class="table-responsive contacts-index">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Assunto</th>
        <th>Area</th>
        <th>Tipo de pergunta</th>
        <th>Data</th>
        <th class="td-actions">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr {% if loop.first %} class="first"{% endif %} {% if loop.last %} class="last"{% endif %}>
          
          <td>{{ contact.name }} </td>
          <td>{{ contact.email }} </td>
          <td>{{ contact.subject }} </td>
          <td>{{ contact.area }} </td>
          <td>{{ contact.constants.QUESTIONS[contact.question_type] }}</td>
          <td>{{ contact.created_at|date('d/M/Y H:i:s') }}</td>

          <td class="td-actions">
            <div class="btn-group">
              <a class="btn btn btn-primary" href="#"><i class="icon-plusr icon-white"></i>Ações</a>
              <a class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/admin/contact/{{ contact.id }}">
                    <i class="icon-eye-open"> Visualizar </i>
                  </a>
                </li>
                <li>
                  <a href="/admin/contact/{{ contact.id }}" data-method="delete" data-parent='tr'>
                    <i class="icon-trash"> Deletar</i>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="pagination pagination-lg pull-right">
    <li><a href="/admin/contacts/page/{{ first_page }}">&larr;</a></li>
      {{ pagination_itens|raw }}
    <li><a href="/admin/contacts/page/{{ last_page }}">&rarr;</a></li>
  </ul>

</div>

{% endblock %}

{% block head_styles %}
<style>
  table .td-actions {
    width:100px;
  }
</style>
{% endblock %}
