{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block yield %}
<div class="site-container">
	<button id="go-top" data-ga='{"type":"event","category":"icone rolagem","action":"ir para","label":"scroll up"}'></button>
	<div class="main-content-container">
	    <section id="home" class='section parallax' data-scroll-event='hideGoTopButton' data-force='true' {% if sections.top && sections.top.image %} style="background-image: url(/uploads/original/{{ sections.top.image }})" {% endif %}
	    >
	    	<div id="preview-video-wrapper" data-scroll-event='trackPageview' data-ga-page="/home">
	    		<video id="preview-video" width="1920" height="960" autoplay="autoplay" loop="" poster="{{host}}/public/assets/images/backgrounds/video-preview-poster.png" >
	    		  <source src="{{host}}/public/assets/videos/preview/eu-querominhabiblioteca-preview.mp4" />
	    		  <source src="{{host}}/public/assets/videos/preview/eu-querominhabiblioteca-preview.webm" type="video/webm; codecs=vp8,vorbis" />
	    		  <source src="{{host}}/public/assets/videos/preview/eu-querominhabiblioteca-preview.ogv" type="video/ogg; codecs=theora,vorbis" />
	    		</video>
	    	</div>
	    	{% if sections.top.video_link && getYoutubeVideoID(sections.top.video_link) %}
		        <div id="video-wrapper">
		            <iframe width="100%" height="100%" id="video" src="//www.youtube.com/embed/{{ getYoutubeVideoID(sections.top.video_link) }}?rel=0&amp;controls=1&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>
		        </div>
		    {% endif %}
	        <article class="header wrapper">
	            <div class="play-icon" id="video-play" {% if !sections.top.video_link && !getYoutubeVideoID(sections.top.video_link) %} style="background-image: none" {% endif %} data-ga='{"type":"event","category":"destaque video","action":"play","label":"video"}'></div>
	            <div class="share-text">
	                <p>Compartilhe este vídeo:</p>
	                <ul class="social-share inline-list">
	                    <li class="facebook">
	                        <a href="#" class='facebook-share' title="Compartilhar no facebook" data-ga='{"type":"event","category":"destaque video","action":"share","label":"facebook"}'></a>
	                    </li>
	                    <li class="twitter">
	                        <a href="http://twitter.com/home?status=Veja%20o%20v%C3%ADdeo%20que%20apresenta%20o%20projeto%20Eu%20quero%20minha%20biblioteca%20%23euquerominhabiblioteca.%20http://goo.gl/8oO9u8" title="Compartilhar no Twitter" target="_blank" class='twitter-share' data-ga='{"type":"event","category":"destaque video","action":"share","label":"twitter"}'></a>
	                    </li>
	                    <li class="youtube">
	                    	<a href="https://www.youtube.com/watch?v=lchkOT3IIs4" target="_blank" data-ga='{"type":"event","category":"destaque video","action":"share","label":"youtube"}'></a>
	                    </li>
	                    <li class="gplus">
	                    	<a href="https://plus.google.com/share?url={{ host }}" data-ga='{"type":"event","category":"destaque video","action":"share","label":"google plus"}'onclick="javascript:window.open(this.href,
	                    	  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
	                    </li>
	                </ul>
	            </div>
	            <div class="down-button scroll-button" data-target="#sobre-o-projeto" data-ga='{"type":"event","category":"icone rolagem","action":"ir para","label":"scroll down"}'></div>
	        </article>
	    </section>
	    <div class="main-menu" data-scroll-event='fixMenu' id='main-menu-fix'>
	        <div class="wrapper">
	            <div class="logo">
	                <a href="#" title="Eu quero minha biblioteca" data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"logo voltar para home"}, {"type":"pageview", "data": {"page": "/home"}}]}'>
	                    <figure>
	                        <img src="/public/assets/images/common/novo-logo-eu-quero-minha-biblioteca.png" alt="Eu quero minha biblioteca" class=''>
	                    </figure>
	                </a>
	            </div>
	            <nav id="main-menu">
	                <ul class='inline-list menu'>
	                    <li class='first'><a href="#sobre-o-projeto" title="Sobre a Campanha" 
	                    data-ga='{"events" : [{ "type":"event","category":"topo","action":"ir para","label":"a campanha"},{"type":"pageview", "data": {"page": "/acampanha"}}]}'>A Campanha</a></li>
	                    <li onclick="ecoFuturoApp.clickSignup();">
	                    <a href="#" title="Inscreva-se na Campanha" 
	                    data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"inscreva-se"},{"type":"pageview", "data": {"page": "/inscreva-se"}}]}'>Inscreva-se</a></li>
	                    <li><a href="#resultados" title="Adesões à Campanha" data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"adesões"},{"type":"pageview", "data": {"page": "/adesoes"}}]}'>Adesões</a></li>
	                    <li><a href="#divulgue" title="Divulgue a Campanha" data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"imprensa"},{"type":"pageview", "data": {"page": "/impresa"}}]}'>Imprensa</a></li>
	                    <li class='last'><a href="#oriente-se" title="Participe da Campanha" data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"participe"},{"type":"pageview", "data": {"page": "/participe"}}]}'>Participe</a></li>
	                </ul>
	            </nav>
	        </div>
	    </div>

	    <section id="sobre-o-projeto" class='section' data-scroll-event='showGoTopButton' data-force='true'>
	        <article class="wrapper" data-scroll-event='trackPageview' data-ga-page="/acampanha">
	            <header>
	                <h3 class='box-about'>A Campanha</h3>
	                <div class="sub-header">
	                    <div id="text-slide-wrapper">
	                        <ul id="slide-texts" class="inline-list">
	                            {% for text in getValuesByKeyInitial(sections.campaign, "text_") %}
	                        	<li {% if loop.first %} class='current' {% endif %}>
	                        	    <p>{{ text }}</p>
	                        	</li>
	                        	{% endfor %}
	                        </ul>
	                    </div>
	                </div>

	                <nav class="boxes-nav">
	                    <ul class="inline-list" id="boxes_nav">
	                        {% for text in getValuesByKeyInitial(sections.campaign, "text_") %}
	                        	<li {% if loop.first %} class='current' {% endif %}>&nbsp;</li>
	                        {% endfor %}
	                    </ul>
	                </nav>
	            </header>
	            <nav class="about-nav">
	                <ul class='inline-list'>
	                    <li class="current"></li>
	                    <li></li>
	                    <li></li>
	                </ul>
	            </nav>
	        </article>
	        <article class="wrapper bg-wrap parallax" data-velocity="3" id="boxes-wrapper"  {% if sections.campaign && sections.campaign.image %} style="background-image: url(/uploads/original/{{ sections.campaign.image }})" {% endif %}>
	            <ul class="boxes inline-list">
	            		{% for title in getValuesByKeyInitial(sections.campaign, "box_title_") %}
	            			<li class="box {% if loop.first %} first {% elseif loop.last %} last {% endif %}" data-ga='{"type":"event","category":"a campanha","action":"ver mais","label":"{{ title }}"}'>
	            			    <header><h4>{{ title }}</h4></header>
	            			    <span class="icon"></span>
	            			</li>
	            		{% endfor %}
	            </ul>

	            <div class="box-desc">
	                <span class="arrow_box" id="arrow_nav"></span>
	                <div class="content">
	                    <p id="desc-content">
	                    </p>
	                    <div class="share">
	                        <p>Compartilhe: </p>
	                         <ul class="share-icons inline-list" id="project_share">
	                             <li class="facebook">
	                                 <a data-ga='{"type":"event","category":"por que ter uma biblioteca na escola","action":"share","label":"facebook"}' href="#" title="Compartilhar no facebook"></a>
	                             </li>
	                             <li class="twitter">
	                                 <a data-ga='{"type":"event","category":"por que ter uma biblioteca na escola","action":"share","label":"twitter"}' href="#" title="Compartilhar no twitter"></a>
	                             </li>
	                             <li class="google">
	                                 <a data-ga='{"type":"event","category":"por que ter uma biblioteca na escola","action":"share","label":"google plus"}' href="#" title="Compartilhar no google+"></a>
	                             </li>
	                         </ul>
	                    </div>
	                </div>
	            </div>

	            <nav id="box-desc-contents" style='display: none;'>
	                <ul class='contents'>
	                	{% for text in getValuesByKeyInitial(sections.campaign, "box_text_") %}
		                	<li>
	                			<ul class="gray-circle-list">
	                				{% for line in replaceSymbol(text) %}
	                					<li>{{ putsHTML(line); }}</li>
	                				{% endfor %}
	                			</ul>
		                	</li>
	                	{% endfor %}
                	</ul>
	            </nav>
	        </article>
	    </section>

	    <section id="participe" class='section' data-scroll-event='trackPageview' data-ga-page="/inscreva-se">
	        <article class="wrapper">
	            <header>
	                <h1>{{ sections.signup.section_header }}</h1>
	                <div class="sub-header">
	                   <p>{{ sections.signup.section_description }}</p> 
	                </div>
	            </header>

	            <button class="button signup" data-ga='{"type":"event","category":"inscreva-se","action":"ir para","label":"cadastro"}'><a href="#">cadastrar</a></button>
	        </article>
	        <div class="top-bar">
	            <div class="wrapper">
	                <form action="api/libraries/search/" method="get" id="search_form" class='form'>
	                    <fieldset>
	                        <label for="input_search">Buscar</label>
	                        <input type="search" id="search_query" required='required' placeholder="Região,estado, cidade, bairro ou nome da instituição" name="q"/>
	                        <input type="hidden" name="_csrf" value='{{ csrf_token }}'>
	                    </fieldset>
	                    <fieldset class='submit-fieldset'>
	                        <input type="submit" class='icon-search' value="">
	                    </fieldset>
	                </form>
	            </div>
	        </div>
	        <div id="map-wrapper">
	            <section id="map">
	                <aside class="captions">
	                   <header>Legendas: </header> 

	                   <nav class="markers-nav">
	                       <ul class="markers" id="markers-nav">
	                           <li class="marker-green first" data-type="1">
	                               <span class="icon"></span>
	                               <span class="caption">Pessoas Mobilizadas</span>
	                           </li>
	                           <li class="marker-yellow" data-type="2">
	                               <span class="icon"></span>
	                               <span class="caption">Instituições</span>
	                           </li>
	                           <li class="marker-blue last" data-type="3">
	                               <span class="icon"></span>
	                               <span class="caption">Parlamentares e candidatos</span>
	                           </li>
	                       </ul>
	                   </nav>
	                </aside>
	                <div class='main-map' id="search_map"></div>
	            </section>

	            <section id="signup_form" class='wrapper'>
            		<form action="library/" method="post" id="new_library_form" class='form content-wrapper'>
	                <ul class="signup-steps-wrapper">
	                    <li id="signup_step_1" class="signup_step wrapper">
	                        <nav class="category-nav form content-wrapper">
	                            <ul class="inline-list circle-radio">
	                                <li class="radio-wrapper first">
	                                    <input name="library[category]" onclick="ecoFuturoApp.dFieldLibrary(this);" type="radio" value="1" checked id="library_category_1" data-header="Cadastro de Sociedade Civil">
	                                    <label for="library_category_1">CIDADÃOS</label>
	                                </li>
	                                <li class="radio-wrapper">
	                                    <input name="library[category]" onclick="ecoFuturoApp.dFieldLibrary(this);" type="radio" value="2" id="library_category_2" data-header="Gestores Públicos e Parlamentares">
	                                    <label for="library_category_2">PODER PÚBLICO</label>          
	                                </li>
	                            </ul>
	                        </nav>
	                    </li>
	                    <li id="signup_step_2" class='signup_form signup_step wrapper'>
                  					<fieldset style="margin-top:0;">
                  							<h1 id="signup_type"></h1>
                  					</fieldset>
                            <div class="fields-wrapper">
                              <fieldset class='field-wrapper'>
                                  <label for="library_name">Nome <span class="required">*</span></label>
                                  <input type="text" required='required' placeholder="Seu nome" name="library[name]" id="library_name">
                              </fieldset>
                              <fieldset class='field-wrapper'>
                                  <label for="library_email">Email <span class="required">*</span></label>
                                  <input type="email" required='required' placeholder="Seu email" name="library[email]" id="library_email">
                              </fieldset>
                              <fieldset class='field-wrapper'>
                                  <label for="library_occupation">Profissão <span class="required">*</span></label>
                                  <input type="text" required='required' placeholder="Sua profissão" name="library[occupation]" id="library_occupation">
                              </fieldset>
                            </div>
                            <div class="fields-wrapper">
                                <fieldset class='field-wrapper address_field state'>
                                  <label for="library_state">Estado <span class="required">*</span></label>
                                  <!-- <input type="text" name="library[state]" id="library_state" required="required"> -->
                                  <select name="library[state]" id="library_state" required="required" class='state-select'>
                                      <option value="" selected="selected">Estado</option>
                                      <option value="1">Acre</option>
                                      <option value="2">Alagoas</option>
                                      <option value="3">Amazonas</option>
                                      <option value="4">Amapá</option>
                                      <option value="5">Bahia</option>
                                      <option value="6">Ceará</option>
                                      <option value="7">Distrito Federal</option>
                                      <option value="8">Espírito Santo</option>
                                      <option value="9">Goiás</option>
                                      <option value="10">Maranhão</option>
                                      <option value="11">Minas Gerais</option>
                                      <option value="12">Mato Grosso do Sul</option>
                                      <option value="13">Mato Grosso</option>
                                      <option value="14">Pará</option>
                                      <option value="15">Paraíba</option>
                                      <option value="16">Pernambuco</option>
                                      <option value="17">Piauí</option>
                                      <option value="18">Paraná</option>
                                      <option value="19">Rio de Janeiro</option>
                                      <option value="20">Rio Grande do Norte</option>
                                      <option value="21">Rondônia</option>
                                      <option value="22">Roraima</option>
                                      <option value="23">Rio Grande do Sul</option>
                                      <option value="24">Santa Catarina</option>
                                      <option value="25">Sergipe</option>
                                      <option value="26">São Paulo</option>
                                      <option value="27">Tocantins</option>
                                  </select>
                                </fieldset>
                                <fieldset class='field-wrapper address_field city'>
                                  <label for="library_city">Cidade <span class="required">*</span></label>
                                  <!-- <input type="text" name="library[city]" id="library_city" required="required" /> -->
                                  <select name="library[city]" id="library_city" required="required" class='city-select'>
                                      <option value="">Selecione seu estado</option>
                                  </select>
                                </fieldset>
                                <fieldset class='field-wrapper sex'>
	                                <div class="signup_type_1">
	                                	<p class='text-center nopadding nomargin'>Sexo</p>
	                                	<ul class="inline-list circle-radio">
	                                	    <li class="radio-wrapper first">
	                                	        <input name="library[sex]" type="radio" value="1" checked id="library_sex_male">
	                                	        <label for="library_sex_male"></label>
	                                	        <span>Masculino</span>
	                                	    </li>
	                                	    <li class="radio-wrapper">
	                                	        <input name="library[sex]" type="radio" value="2" id="library_sex_female">
	                                	        <label for="library_sex_female"></label>               
	                                	        <span>Feminino</span>
	                                	    </li>
	                                	</ul>
	                                </div>
	                                <div class="signup_type_2">
	                                	<ul class="inline-list circle-radio">
	                                	    <li class="radio-wrapper first">
	                                	        <input name="library[political_state]" type="radio" value="1" checked id="library_political_state_1">
	                                	        <label for="library_political_state_1"></label>
	                                	        <span>Em exercício</span>
	                                	    </li>
	                                	    <li class="radio-wrapper">
	                                	        <input name="library[political_state]" type="radio" value="2" id="library_political_state_2">
	                                	        <label for="library_political_state_2"></label>               
	                                	        <span>Candidato</span>
	                                	    </li>
	                                	</ul>
	                                </div>
                                </fieldset>
                                <fieldset class='field-wrapper signup_type_2' >
                               			<label for="political_party_name">Partido ao qual é afiliado</label>
                                		<input type="text" placeholder="Nome do partido" name="library[political_party_name]" id="political_party_name">
                                </fieldset>
                                <fieldset id="field-library-institution-name" class='field-wrapper last'>
                                  <label for="library_institution_name">Nome da escola para a qual você reivindica uma biblioteca</label>
                                  <input type="text" placeholder="Nome da escola" name="library[institution_name]" id="library_institution_name">
                                  <input type="hidden" name="library[school_id]" value="" id="library_school_id">

                                  <div id="autocomplete-wrapper">
                                  	<ul id="autocomplete-results"></ul>
                                  </div>
                                </fieldset>
                            </div>
                            <div class="fields-wrapper submit-field">
                                <fieldset class="field-wrapper">
                                	<input type="hidden" name="_csrf" value='{{ csrf_token }}'>
                                    <input type="submit" value="CADASTRAR" class='submit-green'>
                                </fieldset>
                            </div>
              			</li>
                	</ul>
					</form>
					<div id="signup_step_3" class="signup_step wrapper">
					    <div class="content-wrapper">
					        <h1>Participação concluída</h1>
					    </div>
					</div>
	            </section>
	        </div>
	    </section>
	    <section id="resultados" class='section' data-scroll-event='updateCounters' id='scroll-1'>
	        <article class="wrapper" id="results_wrapper_counter" data-scroll-event='trackPageview' data-ga-page="adesoes">
	            <header>
	                <h1>{{ sections.accessions.section_header }}</h1>
	                <div class="sub-header">
	                   <p>{{ sections.accessions.section_description|raw }}</p> 
	                </div>
	            </header>
	        </article>
	        <article class="results-wrapper">
	            <div class="wrapper">
	                <ul class="results-counts inline-list">
	                	<li class="pessoas first">
	                        <div class="icon"></div>
	                        <div class='header'>Cadastros realizados</div>
	                        <div class="counter" id="people_counter" data-value='{{ total_people }}'>0</div>
	                    </li>
	                    <li class="instituicoes">
	                        <div class="icon"></div>
	                        <div class='header'>Instituições mobilizadas</div>
	                        <div class="counter" id="institutions_counter" data-value='{{ total_institutions }}'>0</div>
	                    </li>
	                    <li class="municipios">
	                        <div class="icon"></div>
	                        <div class='header'>Municípios alcançados</div>
	                        <div class="counter" id="district_counter" data-value='{{ total_cities }}'>0</div>
	                    </li>
	                    <li class="estados last">
	                        <div class="icon"></div>
	                        <div class='header'>Estados alcançados</div>
	                        <div class="counter" id="states_counter" data-value='{{ total_states }}'>0</div>
	                    </li>
	                </ul>
	                <button id="cad-signup" class="button signup" data-ga='{"type":"event","category":"adesões","action":"ir para","label":"cadastro"}'><a href='#'>inscreva-se</a></button>
	            </div>
	        </article>
	    </section>

	    <section class="section" id="divulgue" data-scroll-event='trackPageview' data-ga-page="imprensa">
	        <article class="wrapper">
	            <header>
	                <h1>{{ sections.share.section_header }}</h1>
	                <div class="sub-header">
	                   <p>{{ sections.share.section_description|raw }}</p> 
	                </div>
	            </header>
	            <div class="banners-wrapper">
	                <nav class="banners">
	                	<ul class="inline-list banners-list">
	                		{% for banner in getIdsByKeyInitial(sections.share, "banner_image_") %}
		                		<li class="banner" id="banner-{{ loop.index }}">
		                			{% if sections.share['banner_image_' + banner] %}
			                		    <a href="{{ host }}{{ printGA(sections.share['banner_tracking_code_' + banner]) }}" target="_blank" title="Ajude o projeto 'Eu quero a minha biblioteca"><img src="{{host}}/uploads/original/{{ sections.share['banner_image_' + banner] }}" alt="Divulgue o projeto 'Eu quero minha biblioteca'" data-ga='{"type":"event","category":"divulgue","action":"clique","label":"gerar embed"}'></a>
		                			{% else %}
			                		    <a href="{{ host }}" target="_blank" title="Ajude o projeto 'Eu quero a minha biblioteca"><img src="/public/assets/images/banners/banner-{{ loop.index}}.jpg" alt="Divulgue o projeto 'Eu quero minha biblioteca'" data-ga='{"type":"event","category":"divulgue","action":"clique","label":"gerar embed"}'></a>
		                			{% endif %}
		                		</li>
	                		{% endfor %}
	                    </ul>
	                </nav>
	            </div>
	            <article class="embed-code">
	                <header>
	                    <h2>Código de embed</h2>
	                    <p>Copie o código abaixo e cole no seu site para que o banner seja facilmente exibido.</p>
	                </header>
	                <textarea id="embed_code" readonly="readonly"><a href="#" title="Baixar banner"><img src="/public/assets/images/banners/banner-5.jpg" alt="Divulgue o projeto 'Eu quero minha biblioteca'" /></a></textarea>
	            </article>
	        </article>

	        <aside class="download-line">
	            <div class="wrapper">
	                <span class="text text-instructions">MATERIAIS DE APOIO EM DIVULGAÇÃO</span>
	                <span class="text text-download-button">
	                	{% if sections.share && sections.share.materials %}
	                		<a href="{{ host }}/uploads/original/{{ sections.share.materials }}" data-ga='{"type":"event","category":"divulgue","action":"download","label":"materiais de apoio"}'><div class="icon"></div>download</a>
	                	{% else %}
	                		<a href="{{ host }}/materiais/material_divulgacao.zip" data-ga='{"type":"event","category":"divulgue","action":"download","label":"materiais de apoio"}'><div class="icon"></div>download</a>
	                	{% endif %}
	                </span>
	            </div>
	        </aside>
	    </section>
	    <section class="section" id="oriente-se" data-scroll-event='trackPageview' data-ga-page="orientacoes">
	        <article class="bg-wrap parallax" data-velocity="-.3" {% if sections.orientations && sections.orientations.image %} style="background-image: url(/uploads/original/{{ sections.orientations.image }})" {% endif %}>
	            <header>
	                <h1>{{ sections.orientations.section_header }}</h1>
	                <div class="sub-header">
	                   <p>{{ sections.orientations.section_description|raw }}</p> 
	                </div>
	            </header>
	            <nav class="boxes">
	                <ul class="inline-list">
	                    <li class="box">
	                    	{% if sections.orientations && sections.orientations.file_orientiations_citizens %}
	                    		<a href="{{ host }}/uploads/original/{{ sections.orientations.file_orientiations_citizens }}" target="_blank" data-ga='{"type":"event","category":"orientações","action":"ir para","label":"cidadãos"}'>Cidadãos</a>
	                    	{% else %}
	                    		<a href="{{ host }}/public/materiais/infografico_14042014.pdf" target="_blank" data-ga='{"type":"event","category":"orientações","action":"ir para","label":"cidadãos"}'>Cidadãos</a>
	                    	{% endif %}
	                    </li>
	                    <li class="box-text">ou</li>
	                    <li class="box">
	                    	{% if sections.orientations && sections.orientations.file_orientiations_public_managers %}
	                    		<a href="{{ host }}/uploads/original/{{ sections.orientations.file_orientiations_public_managers }}" target="_blank" data-ga='{"type":"event","category":"orientações","action":"ir para","label":"gestores públicos"}'>Gestores<br />Públicos</a>
	                    	{% else %}
	                    		<a href="{{ host }}/public/materiais/GUIA_GESTORES_VF_3.pdf" target="_blank" data-ga='{"type":"event","category":"orientações","action":"ir para","label":"gestores públicos"}'>Gestores<br />Públicos</a>
	                    	{% endif %}
	                    </li>
	                </ul>
	            </nav>
	        </article>
	        <article class="materiais">
	            <header class='wrapper'>
	                <h4>Materiais de orientação</h4>
	                <div class="sub-header">
	                    <p>Baixe a publicação sobre como a gestão pública pode viabilizar bibliotecas, e outros materiais.</p>
	                </div>
	            </header>

	            <div class="wrapper">
	                <ul class="materiais-list inline-list">
	                    <li class="material material-1">
	                        <a href="{{host}}/public/materiais/orientacoes-sobre-como-acessar-recursos-publicos-para-implementar-e-manter-bibliotecas.pdf" target="_blank"> 
	                            <span class="image"></span>
	                            <span class="desc">Orientação <br />sobre como <br />acessar recursos<br/> públicos</span>
	                            <div class="download-text">
	                                <a href="#">Download <span class="icon"></span></a>
	                            </div>
	                        </a>
	                    </li>
	                    <li class="material material-2">
	                       <a href="{{host}}/public/materiais/graduacao-em-biblioteconomia.pdf" target="_blank">
	                           <span class="image"></span>
	                           <span class="desc">Graduação em <br /> Bibloteconomia</span>
	                           <div class="download-text">
	                               <a href="#">Download <span class="icon"></span></a>
	                           </div>
	                       </a>
	                    </li>
	                    <li class="material material-3">
	                        <a href="{{host}}/public/materiais/parametros-para-bibliotecas-escolares.pdf" target="_blank">
	                            <span class="image"></span>
	                            <span class="desc">Parâmetros para <br />Bibliotecas</span>
	                            <div class="download-text">
	                                <a href="#">Download <span class="icon"></span></a>
	                            </div>
	                        </a>
	                    </li>
	                    <li class="material material-4 last">
	                        <a href="{{host}}/public/materiais/programa-mobilizador.pdf" target="_blank">
	                            <span class="image"></span>
	                            <span class="desc">Programa <br />Mobilizador</span>
	                            <div class="download-text">
	                                <a href="#">Download <span class="icon"></span></a>
	                            </div>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </article>
	    </section>
	    <section class="section" id="realizadores" data-scroll-event='trackPageview' data-ga-page="footer-realizadores">
	        <article class="wrapper">
	            <header>
	                <h1>realizadores</h1>
	            </header>
	            <hr>
	            <div class="realizadores">
	                <div class="row">
	                	<nav class="coalizacao last">
	                         <h2>Iniciativa: <span style="margin-left: 50px">Coalizão:</span></h2>
	                         <ul class='inline-list'>
	                         	<li class='first'>
	                                 <a href="http://www.ecofuturo.org.br/" title="ECO FUTURO" target="_blank" data-ga='{"type":"event","category":"realizadores iniciativa","action":"ir para","label":"ecofuturo"}'>
                                     <img width="125" src="/public/assets/images/realizadores/ecofuturo.jpg" alt="Ecofuturo" style="margin-top: 20px;">
	                                 </a>
	                             </li>
	                             {% for coalizador in getIdsByKeyInitial(sections.coalizadores, "coalizador_link_") %}
     	                        		{% if sections.coalizadores['coalizador_link_' + coalizador] %}
     		                            <li {% if !loop.first && loop.last %} class='last' {% endif %}>
     		                                <a href="{{ sections.coalizadores['coalizador_link_' + coalizador] }}" title="{{ sections.coalizadores['coalizador_name_' + coalizador] }}" target="_blank" data-ga='{"type":"event","category":"realizadores coalização","action":"ir para","label":"{{ sections.coalizadores["coalizador_name_" + coalizador] }}"}'>
   		                                    <img src="/uploads/original/{{ sections.coalizadores['coalizador_image_' + coalizador] }}" alt="{{ sections.coalizadores['coalizador_name_' + coalizador] }}">
     		                                </a>
     		                            </li>
     		                         	{% endif %}
                               {% endfor %}
	                         </ul>
	                    </nav>
	                    <nav class="patrocinio">
	                        <h2>Patrocínio:</h2>
	                        <ul class='inline-list'>
	                        {% for sponsor in getIdsByKeyInitial(sections.sponsors, "sponsor_link_") %}
	                        	{% if sections.sponsors['sponsor_link_' + sponsor] %}
	                            <li {% if loop.first %} class='first' {% endif %} {% if !loop.first && loop.last %} class='last' {% endif %}>
	                                <a href="{{ sections.sponsors['sponsor_link_' + sponsor] }}" title="{{ sections.sponsors['sponsor_name_' + sponsor] }}" target="_blank" data-ga='{"type":"event","category":"patrocionio","action":"ir para","label":"{{ sections.sponsors["sponsor_name_" + sponsor] }}"}'>
                                    <img src="/uploads/original/{{ sections.sponsors['sponsor_image_' + sponsor] }}" alt="{{ sections.sponsors['sponsor_name_' + sponsor] }}">
	                                </a>
	                            </li>
		                         {% endif %}
                          {% endfor %}
	                        </ul>
	                    </nav>
	                    <nav class="divulgacao">
												<h2>Divulgação:</h2>
												<ul class='inline-list'>
                          {% for adviser in getIdsByKeyInitial(sections.advisers, "adviser_link_") %}
 	                        	{% if sections.advisers['adviser_link_' + adviser] %}
	                            <li {% if loop.first %} class='first' {% endif %} {% if !loop.first && loop.last %} class='last' {% endif %}>
	                                <a href="{{ sections.advisers['adviser_link_' + adviser] }}" title="{{ sections.advisers['adviser_name_' + adviser] }}" target="_blank" data-ga='{"type":"event","category":"divulgação","action":"ir para","label":"{{ sections.advisers["adviser_name_" + adviser] }}"}'>
                                  	<img src="/uploads/original/{{ sections.advisers['adviser_image_' + adviser] }}" alt="{{ sections.advisers['adviser_name_' + adviser] }}">
	                                </a>
	                            </li>
	                         	{% endif %}
                          {% endfor %}
                        </ul>
	                    </nav>
	                </div>
	            </div>
	            <hr>
	        </article>
	    </section>
	</div>
</div>
{% endblock %}
