<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eu Quero Minha Biblioteca | {% block title %}{% endblock %} </title>
    
    {% block meta %}
    <!-- Search Engine -->
    <meta name="description" content="Todas as instituições de ensino públicas e privadas do Brasil deverão possuir biblioteca até 2020. Esse agora é um direito garantido por Lei.">
    <meta name="keywords" content="biblioteca, lei 12.444/10, livros, instituições, ensino, publicas,privadas,cadastrar,eu apoio,minha biblioteca,eu quero,mapa, bibliotecas">
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width">

    <!-- FB -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Eu Quero Minha Biblioteca!"/>
    <meta property="og:url" content="{{ host }}" />
    <meta property="og:image" content="{{ host }}/public/assets/fb-share.jpeg"/>
    <meta property="og:site_name" content="Eu Quero Minha Biblioteca!"/>
    <meta property="og:description" content="Veja o vídeo que apresenta o projeto Eu Quero Minha Biblioteca! #euquerominhabiblioteca http://goo.gl/8oO9u8" />
    
    {% endblock %}

    <link rel="canonical" href="{{ host }}">
    <link rel="shortcut icon" href="{{ host }}/public/favicon.ico"/>
    
    <!-- iOS -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    
    <!--[if lt IE 9]>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js">
    <![endif]-->

    <link rel="stylesheet" href="/public/assets/styles/main-v2.{% if prodEnv %}min.{% endif %}css?v=2">
    {% block head_styles %}
    {% endblock %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCq8rUudODS1xJdAglyU6Mn1f61wIwemPs&sensor=true&libraries=places"></script>
  </head>
  <body>
  <!--[if lt IE 10]>
      <p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/" target="_blank">atualize seu nevegador</a> para ter uma experiência completa neste site.</p>
  <![endif]-->
  <div id="fb-root"></div>
  {% block yield %} {% endblock %}

  <section class="section contact" id="contact_section">
    <article class="wrapper contact-form-wrapper">
      <header><h3>Contato</h3></header>
      <div class="steps">
        <form action="contact/" method="POST" id="contact_form" class='form'>
          <fieldset id="step_1" class='step subject square-radio'>
            <legend>Sobre qual assunto você quer falar?</legend>
            <nav class="nav-subject">
              <ul class="inline-list">
                <li class="radio-wrapper first">
                  <input type="radio" name="contact[subject]" value="1" id="contact_subject_1" required="required"
                  data-ga='{"type":"event","category":"fale conosco","action":"ir para","label":"materias de referência"}'>
                  <label for="contact_subject_1">MATERIAS DE<br />REFERÊNCIA</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[subject]" value="2" id="contact_subject_2" required="required"data-ga='{"type":"event","category":"fale conosco","action":"ir para","label":"dúvidas sobre a campanha"}' >
                  <label for="contact_subject_2">DÚVIDAS SOBRE<br /> A CAMPANHA</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[subject]" value="3" id="contact_subject_3" required="required"data-ga='{"type":"event","category":"fale conosco","action":"ir para","label":"como participar"}' >
                  <label for="contact_subject_3">COMO PARTICIPAR</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[subject]" value="4" id="contact_subject_4" required="required"data-ga='{"type":"event","category":"fale conosco","action":"ir para","label":"dúvidas sobre o cadastro"}'>
                  <label for="contact_subject_4">DÚVIDAS SOBRE <br />CADASTRO</label>
                </li>
                <li class="radio-wrapper last">
                  <input type="radio" name="contact[subject]" value="5" id="contact_subject_5" required="required"data-ga='{"type":"event","category":"fale conosco","action":"ir para","label":"problemas no site"}'>
                  <label for="contact_subject_5">PROBLEMAS NO SITE</label>
                </li>
              </ul>
            </nav>
          </fieldset>
          <fieldset id="step_2" class='step area circle-radio'>
            <legend>Qual a sua área?</legend>
            <nav class='nav-area'>
              <ul class='inline-list'>
                <li class="radio-wrapper first">
                  <input type="radio" name="contact[area]" value="1" id="contact_area_1" required="required" >
                  <label for="contact_area_1">CIDADÃOS</label>
                </li>
                <li class="radio-wrapper last">
                  <input type="radio" name="contact[area]" value="2" id="contact_area_2" required="required">
                  <label for="contact_area_2">PODER PÚBLICO</label>               
                </li>
              </ul>
            </nav>
          </fieldset>
          <fieldset id="step_3" class='step question_type square-small-radio'>
            <legend>Como você classificaria sua pergunta?</legend>
            <nav class='nav-questions'>
              <ul class='inline-list'>
                <li class="radio-wrapper first">
                  <input type="radio" name="contact[question_type]" value="1" id="contact_question_1">
                  <label for="contact_question_1">ACERVO</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="2" id="contact_question_2" required="required">
                  <label for="contact_question_2">ESCLARECIMENTO</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="3" id="contact_question_3" required="required">
                  <label for="contact_question_3">PROMOÇÃO DE LEITURA</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="4" id="contact_question_4" required="required">
                  <label for="contact_question_4">COALIZÃO</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="5" id="contact_question_5" required="required">
                  <label for="contact_question_5">PEDIDO DE CAMISETA</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="6" id="contact_question_6" required="required">
                  <label for="contact_question_6">PROBLEMAS NO SITE</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="7" id="contact_question_7" required="required">
                  <label for="contact_question_7">ESPAÇO E INFRAESTRUTURA</label>
                </li>
                <li class="radio-wrapper">
                  <input type="radio" name="contact[question_type]" value="8" id="contact_question_8" required="required">
                  <label for="contact_question_8">PEDIDO DE DOAÇÃO</label>
                </li>
                <li class="radio-wrapper last">
                  <input type="radio" name="contact[question_type]" value="9" id="contact_question_9" required="required">
                  <label for="contact_question_9">NÃO SABE INFORMAR</label>
                </li>
              </ul>
            </nav>
          </fieldset>
          <fieldset id="step_4" class='step contact-form'>
            <legend>Envie sua mensagem</legend>
            <nav class="nav-contact">
              <ul>
                <li class="field-wrapper first">
                  <label for="contact_name">Nome</label>
                  <input type="text" required='required' placeholder="Seu nome" name="contact[name]" id="contact_name">
                </li>
                <li class="field-wrapper">
                  <label for="contact_email">E-mail</label>
                  <input type="email" required='required' placeholder="Seu email" name="contact[email]" id="contact_email">
                </li>
                <li class="field-wrapper">
                  <label for="contact_message">Mensagem</label>
                  <textarea id="contact_message" required='required' placeholder="Sua mensagem" name="contact[message]"></textarea>
                </li>
                <li class="field-wrapper last">
                  <input type="hidden" name="_csrf" value='{{ csrf_token }}'>
                  <input type="submit" value="ENVIAR" class='submit-green'>
                </li>
              </ul>
            </nav>
          </fieldset>
        </form>
      </div>
      <a id="back-btn" href="#" title="Voltar um passo atrás">Voltar</a>
    </article>
  </section>
  <footer class="footer">
  <div class="footer-wrapper wrapper">
    <div class="footer-section first">
      <section class="contact">
        <header><h1>Contato</h1></header>
        <nav class="links">
          <ul><li><a href="#" title="Fale conosco" class='contact-form-toggle' data-ga='{"events":[{"type":"event","category":"topo","action":"ir para","label":"formulario-contato"},{"type":"pageview", "data": {"page": "/contato"}}]}'>> Fale conosco</a></li></ul>
        </nav>
      </section>
        <section class="social-networks">
          <header><h1>Redes sociais</h1></header>
          <nav class="social-links">
            <ul class="inline-list">
              <li class="facebook"><a data-ga='{"type":"event","category":"rodape","action":"ir para","label":"facebook"}' href="https://facebook.com/euquerominhabiblioteca" title="Facebook Eu Quero Minha Biblioteca" target="_blank" ></a></li>
              <li class="twitter"><a data-ga='{"type":"event","category":"rodape","action":"ir para","label":"twitter"}' href="https://twitter.com/QueroBiblioteca" title="Twitter Eu Quero Minha Biblioteca" target="_blank"></a></li>
              <li class="youtube"><a href="http://www.youtube.com/user/institutoecofuturo" title="Youtube Eu Quero Minha Biblioteca" target="_blank" data-ga='{"type":"event","category":"rodape","action":"ir para","label":"youtube"}'></a></li>
              <li class="google"><a href="https://plus.google.com/u/0/103013996503927771237/about" title="Google+ Eu Quero Minha Biblioteca" target="_blank" data-ga='{"type":"event","category":"rodape","action":"ir para","label":"google plus"}'></a></li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="footer-section">
        <section class="menu">
          <header><h1>Menu</h1></header>
          <nav class="footer-menu">
            <ul id='footer-links'>
              <li class='first'><a href="#home">Vídeo</a></li>
              <li><a href="#sobre-o-projeto">A Campanha</a></li>
              <li><a href="#participe">Inscreva-se</a></li>
              <li><a href="#resultados">Adesões</a></li>
              <li><a href="#divulgue">Imprensa</a></li>
              <li class='last'><a href="#oriente-se">Participe</a></li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="footer-section last">
        <section class="downloads">
          <header><h1>downloads</h1></header>
          <nav class="downloads-nav">
            <ul>
              <li class="header">
                  <span class="header-text">Material de apoio</span>
              </li>
              <li>
                {% if sections.orientations && sections.orientations.file_orientiations_citizens %}
                <a href="{{ host }}/uploads/original/{{ sections.orientations.file_orientiations_citizens }}" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material de apoio cidadãos"}'>&gt; Cidadãos</a>
                {% else %}
                  <a href="{{ host }}/public/materiais/infografico_14042014.pdf" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material de apoio cidadãos"}'>&gt; Cidadãos</a>
                {% endif %}
              </li>
              <li>
                {% if sections.orientations && sections.orientations.file_orientiations_public_managers %}
                  <a href="{{ host }}/uploads/original/{{ sections.orientations.file_orientiations_public_managers }}" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material de apoio gestores públicos"}'>&gt; Gestores Públicos</a>
                {% else %}
                  <a href="{{ host }}/public/materiais/GUIA_GESTORES_VF_3.pdf" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material de apoio gestores públicos"}'>&gt; Gestores Públicos</a>
                {% endif %}
              </li>
            </ul>
          </nav>
          <nav class="downloads-nav">
            <ul>
              <li class="header">

                {% if sections.share && sections.share.materials %}
                  <a href="{{ host }}/uploads/original/{{ sections.share.materials }}" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material divulgação"}'><span class="header-text">Material de divulgação</span></a>
                {% else %}
                  <a href="{{host}}/public/materiais/material_divulgacao.zip" target="_blank" data-ga='{"type":"event","category":"rodape","action":"download","label":"material divulgação"}'><span class="header-text">Material de divulgação</span></a>
                {% endif %}
              </li>
              <li><a href="#divulgue">&gt; Banners de divulgação</a></li>
            </ul>
          </nav>
        </section>
        <section class="imprensa">
          <header><h1>{{ sections.footer.section_title }} <a href="/public/materiais/imprensa.pdf" target="_blank" title="Acesse aqui o Release da Campanha" data-ga='{"type":"event","category":"rodape","action":"ir para","label":"material para imprensa"}'><img src="/public/assets/images/common/imprensa_download.png" alt="Baixe informações sobre a campanha." style="margin-bottom: -10px;margin-left: 17px;"></a></h1></header>
          <nav class="imprensa-nav">
            <ul>
              <li><span style='font-weight:600;'>{{sections.footer.contact_header }}<br/>{{ sections.footer.contact_name }}</span></li>
              <li><span>Tel: {{ sections.footer.contact_telephone }}</span></li>
              <li><a href="mailto:vanessaf@gwa.com.br?subject=[Imprensa] Eu Quero Minha Biblioteca">E-mail: {{ sections.footer.contact_email }}</a></li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </footer>
  <div id="background-mask"></div>
  <div id="form-logger">
    <div class="header"><h2 class="message-header"></h2></div>
    <p class="message-body"></p>
  </div>
  <div id="modal">
    <div class="modal-content wrapper">
     <div class="inner-content" id="modal-infografico">
         <img src="infografico-euquerominhabiblioteca.png" alt="Infográfico eu quero minha biblioteca">
     </div>
     <div class="inner-content" id="cidadaos-info">
      <img src="infografico-euquerominhabiblioteca.png" alt="Infográfico eu quero minha biblioteca">
     </div>
     <div class="inner-content" id="gestores-publicos-info">
      <img src="infografico-euquerominhabiblioteca.png" alt="Infográfico eu quero minha biblioteca">
     </div>
    </div>
  </div>

  <script> var CURRENT_HOST = "{{ host }}" </script>
  <script src="/public/assets/scripts/vendor.js"></script>
  <script src="/public/assets/scripts/main.{% if prodEnv %}min.{% endif %}js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52816636-2', 'auto');
  ga('require', 'displayfeatures');

  </script>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1438737853008671";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  {% block footer_scripts %} {% endblock %}
  </body>
</html>
